.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.item-1{
    width: 150px;
    height: 150px;
    background-color: red;
    font-size: 30px;
    display: flex;
   justify-content: center;
    align-items: center;
}
.item-2{
    width: 150px;
    height: 150px;
    background-color: skyblue;
    font-size: 30px;
    display: flex;
   justify-content: center;
    align-items: center;
}
.item-3{
    width: 150px;
    height: 150px;
    background-color: green;
    font-size: 30px;
    display: flex;
   justify-content: center;
    align-items: center;
}